/* Acá van tus reglas de estilo */
.logo{
  height :100vh;
  width:50vw;
  background: #bcd5b0;
  display:
}
.logo.before{
  content: "";
  width: 100%;
  height: 100%;
  background: #4C7184;
  position: absolute
  opacity:0.9;

}
.login-container{
  display:flex;
}

.form-container{
  display:flex;
  align-items:center;
  width:50vw;
  height:100vh;
  background:#ddebf9;
  /*#f1f8ff;*/
}

.form-center{
  margin-left:150px;
  width: 600px;
  height: :400px;
}



.container{
    display:flex;
    align-items:center;
    width:100VW;
    height:100vh;
    background:#5480ab;

}
.formulario{
margin-left:500px;

}


form{

  background-color:#f5f0f0;
  /*#eae2e2;*/
  padding:10px;
  width:600px;
  margin:auto;
  color:#999;
  border: 8px double;

}


.login-title{
  color:#4C7184;
  margin:0;

}

aside div.login-title{
  height:100vh;
  display: flex;
  flex-flow: column wrap-reverse;
  align-items: center;
}


div.inputs{
  height:100vh;
  display: flex;
  flex-flow: column wrap-reverse;
  align-items: center;
}

.hide{
  display:none;
}

.show{
  display: block;
}
h1{
  text-align: center;
}

h2{
  margin-block-start:0.83em;
  margin-block-end:0.83em;
  margin-inline-start:0px;
  margin-inline-end:0px;
  color:#4C71B4;
  margin:0;
  font-size: 40px;
  font-weight: 900;
}

h3{
  margin-bottom: 5px;
  margin-top: 30px;

}
h5{
  margin-top: 20px;
  margin-left: 50px;
}

.parrafo1{
  margin-top: 5px;
}

.input{
  margin-bottom: : 50px;
  width: 430px;
  height:25px;

}

.mensaje {
  color:#9E9E9E;
}

.sms_bloqueo{
  color:#9E9E9E;
}

.inputs{
  margin: 0 auto;
  width: 100px;
}

.inputs2{

  color: white;
  margin: 0 auto;
  width: 100px;

}

.text_ingresado{
  border-radius: 8px;
  width: 600px;
}

body div.texto_input{
  placeholder:"Texto Cifrado/Descifrado";
}

/*input {
  width: 500px;
  padding: 25px;
}*/

.button_cifrado{
  font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
}
.button{
  font: bold 15px Verdana;
  color:white;
  padding:10px 20px 10px 20px;
  background:#52a5b1;
  border-radius:10px;
  width: 150px;
  height: 50px;
}
button:hover{
  background:#89b1b7;
  color:white;
}
.button_limpiar{
  margin-left: 70px;
  font: bold 15px Verdana;
  color:white;
  padding:10px 20px 10px 20px;
  background:#52a5b1;
  border-radius:10px;
  width: 150px;
  height: 50px;
}

.button_salir{
  margin-top: 15px;
  margin-left: 380px;
  font: bold 15px Verdana;
  color:white;
  padding:10px 20px 10px 20px;
  background:#52a5b1;
  border-radius:10px;
  width: 150px;
  height: 50px;
}

.desp{
  margin-bottom: 30px;
}

.ingresar_clave{
  color:#9E9E9E;
  contrast:2.68;

}

.number{
  width:40px;
}

h3{
line-height: 0.5em;
font-size: 30px;
}
h4{
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 40px;
}


.text_ingresado{
  placeholder:"Texto Cifrado/Descifrado";
  border-radius: 8px;
  border:2px solid:#aaa;
}

body div.texto_input{
  placeholder:"Texto Cifrado/Descifrado";
}

/*input {
  width: 500px;
  padding: 25px;
}*/

.btn_cifrar{
  font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:19px;
}
#sms_bloqueo{
  color:#09344a;
  font-size: 20px;
  box-sizing: border-box;
}
